* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-bg: #1f1f38;
    --color-bg-varient: #2c2c6c;
    --color-primary: #4db5ff;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    background: #111;
    overflow-x: hidden;
}
/* Start Header */
.container header {
    
}
.container header p,
.container header h2,
.container header h3 {
    transform: translateX(0%);
    text-align: center;
    color: #FFF;
    margin-top: 10px;
}
.container header p {
    text-align: center;
    font-size: 18px;
}
.container header h3 {
    color: #ddd;
    font-size: 22px !important;
}
.container header h2 {
    color: var(--color-primary);
    font-size: 32px;
    margin-left: 0px;
}
.container header .styling-txt {
    position: relative;
    width: fit-content;
    left: 42%;
}
.container header h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    border-left: 3px solid var(--color-primary);
    animation: animate 4s steps(18) infinite;
}
.container header h3 {
    font-size: 20px !important;
    text-align: center;
}
@keyframes animate {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0;
    }
}
.glow-on-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: 2px solid #FFF;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    left: 37%;
    top: 20px;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover:nth-child(2) {
    position: relative;
    left: 50%;
    top: -20px;
    border: 2px solid var(--color-primary);
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, 
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
    /* border: 2px solid var(--color-primary); */
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.container header .part-left {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
}
.container header .part-left::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 48%;
    width: 2px;
    height: 20px;
    background-color: var(--color-primary);
}
.container header .part-left a {
    text-decoration: none;
    margin: 8px 50px;
    font-size: 32px;
    cursor: pointer;
    color: var(--color-primary);
    transition: 0.3s;
}
.container header .part-left a:hover {
    color: #eee;
    transform: scale(1.08);
}
.container header .image-me{
    background: linear-gradient(var(--color-primary),transparent);
    border-radius: 50%;
    height: 20rem;
    position: relative;
    left: 37%;
    top: -25px;
    margin-top: 2rem;
    padding: 1.5rem 1rem;
    width: 20rem;
}
.container header .image-me img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-top: -17px;
}
/* Start Media */
@media screen and (max-width:767px) {
    .container {
        /* overflow-y: hidden; */
    }
    .container header {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }
    .container header .btns {
        position: relative;
        left: 20px;
    }
    .container header .part-left {
        display: none;
        position: relative;
        left: 8%;
    }
    .container header p {
        margin-left: 100px;
    }
    .container header h2 {
        font-size: 35px !important;
        margin-left: -30px;
        overflow: hidden;
    }
    .container header h3 {
        margin-left: 106px;
        font-size: 16px !important;
        letter-spacing: 1px;
    }
    .glow-on-hover {
        width: 125px;
        width: 125px;
        margin-left: -88px;
        gap: 20px;
    }
    .glow-on-hover:nth-child(2) {
        position: relative;
        left: 68%;
    top: 5px;
    }
    .container header .btns .private {
    position: relative;
    left: 45%;
    display: none;
}
    .container header .image-me {
        position: absolute;
        top: 26%;
        left: 20%;
        width: 360px;
        height: 362px;
    }
    .loader {
        display: none !important;
    }
    .container header .image-me img {
        margin-left: 45px;
        margin-top: 24px;
    }
}
.loader {
    position: absolute;
    right: 8%;
    top: 50%;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.loader {
  display: flex;
  margin: 0.25em 0;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite,
    dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite,
    spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}
/* End Media */
/* End Header */
/* Start About */
.container .about {
    display: flex;
    justify-content: space-around;
}
.container .about .part-right {
    position: absolute;
    top: 150%;
    right: 20%;
}
.container .about .title {
    position: absolute;
    top: 116%;
    text-align: center;
    margin-left: 0px;
}
.container .about .title p {
    color: #DDD;
    font-size: 14px;
}
.container .about .title h2 {
    color: var(--color-primary);
    letter-spacing: 1px;
    font-size: 28px;
    margin-top: 20px;
}
.container .about .part-right .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 0 15px;
    position: relative;
    left: 50px !important;
    top: -40px;
}
.container .about .part-right p {
    position: absolute;
    right: -120px;
    margin-top: -155px;
    color: #CCC;
    top: 77%;
    font-size: 18px;
}
.container .about .part-right .boxes > div {
    background: var(--color-bg-varient);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    width: 200px;
    height: 180px;
    position: relative;
    right: -60px;
    transition: 0.4s;
}
.container .about .part-right .boxes > .three {
    position: relative;
}
.container .about .part-right .boxes > div:hover {
    background:none;
    border: 1px solid var(--color-bg-varient);
}
.container .about .part-right .boxes > div > i {
    color: var(--color-primary);
    font-size: 32px;
    margin-top: -10px;
}
.container .about .part-right .boxes > div > h3 {
    color: #EEE;
    font-size: 16px;
    margin-top: 5px;
}
.container .about .part-right .boxes > div > span {
    color: #FFF;
    width: 100%;
    font-size: 17px;
    position: relative;
    top: 15px;
}
.container .about .part-left {
        aspect-ratio: 1/1.5;
        background: linear-gradient(45deg,transparent,var(--color-primary),transparent);
        border-radius: 2rem;
        display: grid;
        margin: auto;
        place-items: center;
        width: 18%;
        height: 350px;
        position: absolute;
        top: 145%;
        left: 20%;
    }
    .container .about .part-left .image img {
        transform: rotate(10deg);
        transition: 0.5s;
}
.container .about .part-left .image img:hover {
    transform: rotate(0);
}
.container .about .part-right .glow-on-hover {
        position: relative;
        top: 0;
        left: 22%;
        width: 135px;
}
.container .about .part-right .boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    position: relative !important;
    left: -120px !important;
    gap: 10px;
}

/* Start media */
@media screen and (max-width:767px) {
    .container .about .part-right {
    position: absolute;
    top: 150%;
    right: -30%;
}
    .container .about .title {
        margin-top: -455px;
        margin-left: 95px;
    }
    .container .about .title h2 {
        font-size: 32px !important;
        text-align: center;
    }
        .container .about .part-left {
        position: absolute;
        top: 105%;
        left: 30%;
        width: 59%;
    }
    .container .about .part-right .glow-on-hover {
        position: relative;
        top: -5px;
        left: 12%;
        width: 150px;
        font-size: 22px;
        text-align: center;
        }
        .container .about .part-left {
            width: 300px;
            height: 350px;
            margin-left: -15px;
            margin-top: -330px;
        }
        .container .about .part-right .boxes {
            display: grid !important;
            grid-template-columns: repeat(2, 1fr) !important;
                margin-top: 150px;
        }
        .container .about .part-right .boxes > div {
            width: 180px;
            height: 160px;
        }
        .container .about .part-right p {
            text-align: center;
    margin-top: -195px;
    width: 62%;
    position: relative;
    background: #4169e11f;
    border-radius: 8px;
    left: 137px;
        }
}
/* End media */
/* End About */
/* Start Expereince */
.container .experience {
    position: relative;
    top: 1000px;
    
}
.container .experience .boxes {
    position: relative;
    top: 110%;
    display: flex;
    justify-content: space-evenly;
}
.container .experience .boxes > div {
        margin-top: 50px;
        background: var(--color-bg-varient);
        border: 1px solid transparent;
        border-radius: 2rem;
        padding: 2.4rem 5rem;
        transition: 0.3s;
}
.container .experience .boxes > div:hover {
    background: none;
    border: 1px solid var(--color-bg-varient);
}
.container .experience .title {
    text-align: center;
    margin-top: -30px;
}
.container .experience .title p {
    color: #DDD;
    font-size: 18px;
}
.container .experience .title h2 {
    font-size: 28px;
    color: var(--color-primary);
    margin: 10px 0;
}
.container .experience .boxes > .box-left .title h3, 
.container .experience .boxes > .box-right .title h3 {
    font-size: 28px;
    color: var(--color-primary);
    margin: 10px 0
}
.container .experience i {
    color: var(--color-primary);
    font-size: 25px;
}
.container .experience .boxes > .box-left .languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 150px;
}
.container .experience .boxes > .box-left .languages .lang h3 {
    font-size: 22px;
    color: #FFF;
}
.container .experience .boxes > .box-left .languages .lang p {
    font-size: 17px;
    color: #888888;
}
.container .experience .boxes > .box-left .languages .lang i {
    position: relative;
    left: -35px;
    top: 30px;
}

.container .experience .boxes > .box-right .languages .lang h3 {
    font-size: 22px;
    color: #FFF;
}
.container .experience .boxes > .box-right .languages .lang p {
    font-size: 17px;
    color: #888888;
}
.container .experience .boxes > .box-right .languages .lang i {
    position: relative;
    left: -35px;
    top: 30px;
}
.container .experience .boxes > .box-right .languages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 100px;
}
/* End Expereince */
/* Start Services */
.container .services {
    position: relative;
    top: 1200px;
}
.container .services .title {
    text-align: center;
    position: relative;
    top: -55px;
}
.container .services .title p {
    color: #DDD;
    font-size: 16px;
    letter-spacing: 1px;
}
.container .services .title h2 {
    font-size: 38px;
    color: var(--color-primary);
    margin: 10px 0;
    letter-spacing: 1px;
}
.container .services .content .rectangles {
    display: flex;
    justify-content: space-evenly;
}
.container .services .content .rectangles .rectangle-1,
.container .services .content .rectangles .rectangle-2,
.container .services .content .rectangles .rectangle-3 {
        background: var(--color-bg-varient);
        border: 1px solid var(--color-primary);
        border-radius: 0 0 2rem 2rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        transition: var(--transition);
        padding: 70px 50px;
        transition: 0.4s;
}
.container .services .content .rectangles .rectangle-1::before {
    content: "UI/Ux";
    position: absolute;
    top: 13.3%;
    left: 7.2%;
    padding: 20px 55px;
    background-color: var(--color-primary);
    border-radius: 0 0 30% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #111;
}
.container .services .content .rectangles .rectangle-2::before {
    content: "Front end";
    position: absolute;
    top: 13.3%;
    left: 38.2%;
    padding: 20px 55px;
    background-color: var(--color-primary);
    border-radius: 0 0 30% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #111;
}
.container .services .content .rectangles .rectangle-3::before {
    content: "Back end";
    position: absolute;
    top: 13.3%;
    right: 7.2%;
    padding: 20px 55px;
    background-color: var(--color-primary);
    border-radius: 0 0 30% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: #111;
}
.container .services .content .rectangles .rectangle-1:hover,
.container .services .content .rectangles .rectangle-2:hover,
.container .services .content .rectangles .rectangle-3:hover {
    background:none;
    border: 1px solid var(--color-bg-varient);
}
/* .container .services .content .rectangle-1 h1 {
    text-align: center;
    color: white;
    font-size: 28px;
    z-index: 999 !important;
} */
.container .services .content .rectangles .rectangle-1 .text,
.container .services .content .rectangles .rectangle-2 .text,
.container .services .content .rectangles .rectangle-3 .text {
    position: relative ;
    top: 20px ;
}
.container .services .content .rectangles .rectangle-1 .text i,
.container .services .content .rectangles .rectangle-2 .text i,
.container .services .content .rectangles .rectangle-3 .text i {
    position: relative;
    left: -25px;
    top: 25px;
    color: var(--color-primary);
}
.container .services .content .rectangles .rectangle-1 .text p,
.container .services .content .rectangles .rectangle-2 .text p,
.container .services .content .rectangles .rectangle-3 .text p {
    color: #DDD;
}
/* End Services */
/* Start Media */
@media screen and (max-width:767px) {
    .container .about {
    position: absolute;
    right: 0%;
    top: 160%;
    width: 100%;
}
    .container .experience {
        position: absolute;
        top: 260%;
        left: 40px;
    }
    .container .experience .boxes {
        display: flex;
        flex-direction: column;
    }
    .container .experience .boxes > div {
        width: 425px;
        overflow-y: hidden;
        margin-top: 20px;
    }
    .container .services {
        position: absolute;
        top: 210%;
        left: 30px;
    }
    .container .services .title {
            position: relative;
        top: 1275px;
        left: 75px;
        }
.container .services .content .rectangles {
    display: flex;
    flex-direction: column;
    /* margin-left: 0; */
    position: relative;
    top: 1271px;
    left: 80px;
}
.container .services .content .rectangles > div {
    margin: 10px 0;
}
.container .services .content .rectangles .rectangle-1::before {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
}
.container .services .content .rectangles .rectangle-2::before {
    position: absolute;
    top: 628px;
    left: 0;
    width: 100%;
}
.container .services .content .rectangles .rectangle-3::before {
        position: absolute;
    top: 1245px;
    left: 0;
    width: 100%;
}
}
/* End Media */
/* Start Portfolio */
.container .portfolio {
    display: none;
}
.container .portfolio .title {
    text-align: center;
    position: relative;
    top: 1300px;
}
.container .portfolio .title p {
    color: #DDD;
    font-size: 16px;
    letter-spacing: 1px;
}
.container .portfolio .title h2 {
    font-size: 38px;
    margin: 10px 0;
    color: var(--color-primary);
    letter-spacing: 1px;
}
.container .portfolio .content .boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.container .portfolio .content .boxes .box {
    position: relative;
    top: 1350px;
    background: var(--color-bg-varient);
    padding: 60px 0;
    border-radius: 25px;
    border: 1px solid var(--color-bg-varient);
    transition: 0.4s;
}
.container .portfolio .content .boxes .box:hover {
    background: none;
}
.container .portfolio .content .boxes .box h3 {
    color: #FFF;
    font-size: 22px;
    margin: -25px 10px;
}
.container .portfolio .content .boxes .box .btn {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 40px;
}
.container .portfolio .content .boxes .box .btn .glow-on-hover {
    position: relative;
    left: 10px;
    top: -5px;
    width: 120px;
}
.container .portfolio .content .boxes .box .btn .git {
    background-color: transparent;
    padding: 0 15px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    position: relative;
    top: -5px;
    color: var(--color-primary);
    font-size: 19px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .portfolio .content .boxes .box .btn .git:hover {
    background-color: #e7e7e7;
    color: #111;
    border: none;
}
.container .portfolio .content .boxes .box .image img {
    border-radius: 25px;
    position: relative;
    top: -40px;
    left: 25px;
}
.container .portfolio .content .see-more a {
    position: relative;
    top: 1400px;
    left: 45%;
    font-size: 20px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
    transition: 0.1s;
    outline: none;
}
.container .portfolio .content .see-more a:hover {
    background-color: #e7e7e7;
    color: #111;
    border: 1px solid var(--color-primary);
}
/* Start Media */
@media screen and (max-width:767) {
    .container .portfolio .title {
    text-align: center;
    position: relative;
    top: 1334px;
        left: 25px;
}
    .container .portfolio {
        display: none;
        position: absolute;
        top: 507%;
        left: 13%;
        width: 100%;
    }
    .container .portfolio .content .boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        position: relative;
            left: 20px;
    }
    .container .portfolio .content .see-more a {
        width: 55% !important;
        margin-left: -20px;
    }
    .container .portfolio .content .boxes .box .image img {
        width: 90%;
        position: relative;
        left: 20px;
    }
}
/* End Media */
/* End Portfolio */
/* Start Testimonials */
.container .testimonials {
    
}
.container .contact-me {
    position: relative;
    top: 40px;
}
.container .testimonials .title {
    text-align: center;
    position: relative;
    top: 1570px;
}
.container .testimonials .title p {
    color: #DDD;
    font-size: 16px;
    letter-spacing: 1px;
}
.container .testimonials .title h2 {
    font-size: 38px;
    margin: 10px 0;
    color: var(--color-primary);
    letter-spacing: 1px;
}
.container .testimonials .boxes-testimonials {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 558%;
        background-color: var(--color-bg-varient);
        padding: 50px 35px;
        border-radius: 18px;
}
.container .testimonials .boxes-testimonials .image {
    position: relative;
    left: 43%;
    top: -10px;
}
.container .testimonials .boxes-testimonials .box {
    width: 100%;
}
.container .testimonials .boxes-testimonials .box .image img {
    border: 5px solid rgb(25, 91, 153);
    background-color: #373737;
}
.container .testimonials .boxes-testimonials h3 {
    font-size: 22px;
    color: #FFF;
    margin-left: -20px;
    margin-top: 5px;
}
.container .testimonials .boxes-testimonials p {
    text-align: center;
    color: #DDD;
    line-height: 1.5;
    font-size: 16px;
}
/* End Testimonials */
/* Start Contact */
.container .contact-me {
    
}
.container .contact-me .title {
    text-align: center;
    position: relative;
    top: 2030px;
}
.container .contact-me .title p {
    color: #DDD;
    font-size: 16px;
    letter-spacing: 1px;
}
.container .contact-me .title h2 {
    font-size: 38px;
    margin: 10px 0;
    color: var(--color-primary);
    letter-spacing: 1px;
}
.container .contact-me .content {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 2100px;
}
.container .contact-me .content form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 0;
}
.container .contact-me .content .boxes {
    position: absolute;
}
/* .container .contact-me .content .boxes > div {
    position: relative;
    top: -50px;
    left: -40px;
    margin: 15px 0;
    background-color: var(--color-bg-varient);
    padding: 50px;
    border-radius: 20px;
} */
.container .contact-me .content .boxes > div i {
    font-size: 35px;
    display: flex;
    justify-content: center;
    color: goldenrod;
    position: relative;
    top: -20px;
}
.container .contact-me .content .boxes > div h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: -10px;
}
.container .contact-me .content .boxes > div p {
    text-align: center;
    margin-top: 5px;
    color: #bdbdbd;
}
.container .contact-me .content .boxes > div a {
    font-size: 18px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    color: var(--color-primary);
    font-weight: 600;
}
form {
    position: relative;
    left: -50px;
}
textarea {
    position: absolute;
    padding: 5px 10px !important;
    border-radius: 8px;
    background: none;
    border: 2px solid var(--color-bg-varient);
    color: #FFF !important;
    font-size: 18px !important;
    outline: none;
}
input {
    position: relative;
    top: 190px;
    width: 400px;
    height: 60px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 0 10px !important;
    z-index: 99;
    color: #999;
    background: none;
    border: 2px solid var(--color-bg-varient);
    color: #FFF !important;
    font-size: 18px !important;
}
input#email {
    position: relative;
    top: 210px;
}
form button {
    position: relative;
    top: 250px;
    left: 0px;
    background-color: var(--color-primary);
    border: none;
    outline: none;
    color: #111;
    border-radius: 4px;
    width: 200px;
    height: 40px;
    transition: 0.2s;
}
form button:hover {
    background-color: #e7e7e7;
    color: #111;
}
textarea:focus, input:focus {
    border: 2px solid var(--color-primary);
}
/* Start Media */
@media screen and (max-width:767px) {
    .container .contact-me .title {
    text-align: center;
    position: relative;
    top: 2338px;
    left: 20px;
}
    .container .contact-me {
        position: absolute;
        top: 445%;
    }
    .container .contact-me .content .boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        position: absolute;
        left: 40%;
        margin-top: 290px;
    }
    .container .testimonials .boxes-testimonials {
        position: absolute;
        width: 124%;
        top: 720%;
    left: 46px;
        overflow: hidden;
        margin-left: 220px;
    }
    .container .testimonials .title {
       position: absolute;
    top: 705%;
    text-align: center;
    left: 145px;
    }
    .container .contact-me .content form {
        position: relative;
        top: 805px;
        left: -10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    form {
        margin-left: 60px;
    }
    textarea {
        width: 100%;
        /* position: relative; */
        margin-left: 60px;
    }
    form button {
        z-index: 999;
        margin-top: -15px;
        font-weight: bold;
    }
}
/* End Media */
/* End Contact */
/* Start Footer */
.container footer {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 880%;
    background: var(--color-primary);
    width: 100%;
    height: 350px;
}
.container footer header h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    color: #333;
        margin-left: 50px;
}
.container footer header ul {
    display: flex;
    text-align: center;
    position: relative;
    left: 25%;
    margin: 50px 0;
}
.container footer header ul li {
    font-size: 20px;
    margin-left: 20px;
    transition: 0.3s;
}
.container footer header ul li:hover {
    color: #FFF;
}
.container footer .links {
    display: flex;
    justify-content: center;
    position: relative;
    left: 20px;
    top: -20px;
}
.container footer .links a {
    font-size: 22px;
    margin-left: 25px;
    background: #111;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid #111;
}
.container footer .links a:hover {
    background: none;
    color: #111;
}
.container footer .the-end p {
    text-align: center;
    position: relative;
    top: 40px;
    font-weight: bold;
}
/* Start Media */
@media screen and (max-width:767px) {
    .container footer {
        position: absolute;
        width: 160% !important;
        top: 965%;
        height: 500px;
        margin-left: 48px;
        overflow: hidden;
    }
    .container footer header {
            width: 125%;
            position: relative;
            left: -118px;
        }
    .container footer header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: -330px;
        margin-top: 20px;
        }
    .container footer header ul li {
        margin: 5px 0;
        }
}
/* End Media */
/* End Footer */
